* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(127, 246, 255);
}

.title {
    text-align: center;
    position: relative;
    top: 20px;
}

.grid {
    background-color: aliceblue;
    height: 450px;
    width: 450px;
    display: none;
    grid-template-columns: repeat(3, auto);
    position: absolute;
    top: 60px;
    left: 420px;
}

.gridbox {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.status {
    font-size: xx-large;
    position: relative;
    text-align: center;
    top: 480px;
    display: none;
}

.button {

    font-size: xx-large;
    position: relative;
    top: 480px;

    text-align: center;
    margin: auto;

    display: none;
}

a {
    text-decoration: none;
    color: black;
}

#start {
    display: block;
    align-items: center;
    margin: auto;
    position: relative;
    top: 150px;
    font-size: 3rem;
   
}